.container {
  display: grid;
  gap: 10px;
}
.specialist {
  margin-right: 10px;
  padding: 10px;
  outline: 0.5px solid khaki;
  border-radius: 8px;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
.selected {
  box-shadow: 0 0 8px 1px rgba(255, 215, 0, 0.8); // Glow effect
}
